/* Common styles for login and signup pages */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#login-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 100px auto;
  padding: 20px;
}

#login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.login-input-box {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-id-label {
  font-weight: bold;
  margin-bottom: 5px;
}

#admin-token {
  margin-top: 10px;
}

/* Styles specific to login page */
#login-failed {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Styles specific to index page */
#post-list {
  list-style-type: none;
  padding: 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}