<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:height="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
  <script>
    function onclickAdmin() {
      var checkBox = document.getElementById("admin-check");
      var box = document.getElementById("admin-token");
      // If the checkbox is checked, display the output text
      if (checkBox.checked == true) {
        box.style.display = "block";
      } else {
        box.style.display = "none";
      }
    }
  </script>
</head>
<body>
<div id="sign-form" >
  <div id="login-title">Sign up</div>

  <form action="/users/signup" method="post">
    <div class="login-id-label">Username</div>
    <input type="text" name="username" placeholder="Username" class="login-input-box">

    <div class="login-id-label">Password</div>
    <input type="password" name="password" placeholder="Password" class="login-input-box">

    <div class="login-id-label">E-mail</div>
    <input type="text" name="email" placeholder="E-mail" class="login-input-box">

    <div class="login-id-label">Nickname</div>
    <input type="text" name="nickname" placeholder="nickname" class="login-input-box">

    <div class="login-id-label">age</div>
    <input type="text" name="age" placeholder="age" class="login-input-box">

    <div class="login-id-label">Gender</div>
      <button type="button" onclick="selectGender('MALE')">남성</button>
      <button type="button" onclick="selectGender('FEMALE')">여성</button>
    <input type="hidden" id="gender" name="gender" required>
    <br>

    <div class="login-id-label">Profile</div>
    <input type="text" name="profile" placeholder="profile" class="login-input-box">

    <div>
      <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()"
             style="margin-top: 40px;">관리자
      <input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호"
             class="login-input-box" style="display:none">
    </div>
    <button id="login-id-submit">회원 가입</button>
  </form>

</div>
<script>
  function selectGender(selectedGender) {
    document.getElementById("gender").value = selectedGender;

    const buttons = document.querySelectorAll('button');
    buttons.forEach(button => {
      if (button.textContent.toLowerCase() === selectedGender.toLowerCase()) {
        button.style.backgroundColor = '#4CAF50';
        button.style.color = 'white';
      } else {
        button.style.backgroundColor = '';
        button.style.color = '';
      }
    });
  }
</script>
</body>
</html>